---
import { ChevronDownIcon, ChevronLeft } from "lucide-react";
import { DocsNav, HomeButton } from "./docs-nav";

const { nav, providersNav } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

const supportIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M8 10h.01"/><path d="M12 10h.01"/><path d="M16 10h.01"/></svg>`;
---

<aside
  id="docs-sidebar"
  class="sidebar-scroll sticky top-0 h-[100dvh] w-[260px] flex-shrink-0 overflow-y-auto border-r border-[#e6e8eb] py-6 pl-4 pr-6 dark:border-[#333] lg:w-[280px]"
  style="scroll-behavior: auto;"
>
  <div class="flex flex-col gap-6">
    <!-- Back Link & Logo -->
    <div class="flex flex-col gap-6">
      <!-- Back to akash.network link -->
      <a
        href="/"
        class="group inline-flex items-center gap-1.5 rounded-md px-1 py-1 text-xs font-medium text-[#687076] transition-colors hover:text-[#11181c] dark:text-[#888] dark:hover:text-white"
      >
        <ChevronLeft className="h-4 w-4" />
        <span>akash.network</span>
      </a>

      <!-- Logo and DOCS label -->
      <div class="flex items-center gap-1.5">
        <a href="/docs/" class="flex items-center gap-1.5">
          <svg
            width="140"
            height="24"
            viewBox="0 0 140 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.6822 11.8438L17.0605 17.7645H10.2363L6.82227 11.8438H13.6822Z"
              fill="url(#paint0_linear_1_530)"></path>
            <path
              d="M17.0587 17.7656L20.4671 11.8448L13.6447 0.000366211H6.82227L17.0587 17.7656Z"
              fill="#FA5757"></path>
            <path
              d="M3.41118 5.91956H10.2336L3.41402 17.764L0 11.8432L3.41118 5.91956Z"
              fill="#FA5757"></path>
            <path
              d="M37.3037 5.66914L37.1335 7.49905C36.4037 6.07846 34.7254 5.30798 32.9254 5.30798C29.5444 5.30798 27.2822 7.73983 27.2822 11.4719C27.2822 15.1798 29.3254 17.8765 32.9011 17.8765C34.847 17.8765 36.2821 16.9375 37.0362 15.7096L37.2308 17.5635H40.0037V5.66914H37.3037ZM36.9875 11.6163C36.9875 13.7593 35.6497 15.228 33.5822 15.228C31.5146 15.228 30.2498 13.7352 30.2498 11.6163C30.2498 9.4975 31.5389 7.9806 33.6065 7.9806C35.674 7.9806 36.9875 9.47342 36.9875 11.6163Z"
              fill="currentColor"></path>
            <path
              d="M45.0528 17.5635V14.3612L46.8041 12.5554L49.9419 17.5635H53.3473L48.8717 10.3884L53.4446 5.66914H49.723L45.0528 10.6532V0H42.1096V17.5635H45.0528Z"
              fill="currentColor"></path>
            <path
              d="M63.3129 5.66914L63.1426 7.49905C62.4129 6.07846 60.7345 5.30798 58.9346 5.30798C55.5535 5.30798 53.2914 7.73983 53.2914 11.4719C53.2914 15.1798 55.3346 17.8765 58.9102 17.8765C60.8562 17.8765 62.2913 16.9375 63.0453 15.7096L63.2399 17.5635H66.0129V5.66914H63.3129ZM62.9967 11.6163C62.9967 13.7593 61.6589 15.228 59.5913 15.228C57.5238 15.228 56.2589 13.7352 56.2589 11.6163C56.2589 9.4975 57.5481 7.9806 59.6156 7.9806C61.6832 7.9806 62.9967 9.47342 62.9967 11.6163Z"
              fill="currentColor"></path>
            <path
              d="M67.5145 13.9519C67.5145 16.2874 69.4118 17.8765 72.4036 17.8765C75.3712 17.8765 77.4387 16.3837 77.4387 13.976C77.4387 12.146 76.4171 11.2311 74.3982 10.7736L72.2334 10.268C71.2118 10.0272 70.6766 9.59381 70.6766 8.91963C70.6766 8.02876 71.3577 7.49905 72.5253 7.49905C73.6685 7.49905 74.3496 8.14915 74.3739 9.16041H77.1955C77.1712 6.84895 75.3469 5.30798 72.6469 5.30798C69.8739 5.30798 67.8794 6.70448 67.8794 9.04002C67.8794 10.9422 68.9253 11.9534 71.0901 12.435L73.255 12.9406C74.3252 13.1814 74.6415 13.6148 74.6415 14.2167C74.6415 15.0835 73.8874 15.6373 72.5009 15.6373C71.1388 15.6373 70.3604 14.9872 70.3361 13.9519H67.5145Z"
              fill="currentColor"></path>
            <path
              d="M82.0595 17.5635V11.0626C82.0595 9.2808 83.1541 7.9806 85.027 7.9806C86.5351 7.9806 87.5324 8.94371 87.5324 10.9422V17.5635H90.4999V10.2439C90.4999 7.16196 88.9432 5.30798 85.9757 5.30798C84.2486 5.30798 82.8379 6.05439 82.0838 7.21012V0H79.092V17.5635H82.0595Z"
              fill="currentColor"></path>
            <path
              d="M98.9943 17H95.3849V6.81818H99.0241C100.048 6.81818 100.93 7.02202 101.669 7.42969C102.408 7.83404 102.977 8.41572 103.374 9.17472C103.775 9.93371 103.976 10.8419 103.976 11.8991C103.976 12.9598 103.775 13.8712 103.374 14.6335C102.977 15.3958 102.405 15.9808 101.659 16.3885C100.917 16.7962 100.028 17 98.9943 17ZM97.5376 15.1555H98.9048C99.5412 15.1555 100.076 15.0429 100.511 14.8175C100.948 14.5888 101.276 14.2358 101.495 13.7585C101.717 13.2779 101.828 12.6581 101.828 11.8991C101.828 11.1468 101.717 10.532 101.495 10.0547C101.276 9.57741 100.95 9.22609 100.516 9.00071C100.081 8.77533 99.5462 8.66264 98.9098 8.66264H97.5376V15.1555ZM116.047 11.9091C116.047 13.0194 115.837 13.964 115.416 14.7429C114.998 15.5218 114.428 16.1167 113.705 16.5277C112.986 16.9354 112.177 17.1392 111.279 17.1392C110.374 17.1392 109.562 16.9337 108.843 16.5227C108.124 16.1117 107.556 15.5168 107.138 14.7379C106.72 13.959 106.512 13.0161 106.512 11.9091C106.512 10.7988 106.72 9.85417 107.138 9.07528C107.556 8.2964 108.124 7.70312 108.843 7.29545C109.562 6.88447 110.374 6.67898 111.279 6.67898C112.177 6.67898 112.986 6.88447 113.705 7.29545C114.428 7.70312 114.998 8.2964 115.416 9.07528C115.837 9.85417 116.047 10.7988 116.047 11.9091ZM113.864 11.9091C113.864 11.1899 113.757 10.5833 113.541 10.0895C113.329 9.59564 113.029 9.22112 112.641 8.96591C112.254 8.7107 111.8 8.5831 111.279 8.5831C110.759 8.5831 110.305 8.7107 109.917 8.96591C109.529 9.22112 109.228 9.59564 109.012 10.0895C108.8 10.5833 108.694 11.1899 108.694 11.9091C108.694 12.6283 108.8 13.2348 109.012 13.7287C109.228 14.2225 109.529 14.5971 109.917 14.8523C110.305 15.1075 110.759 15.2351 111.279 15.2351C111.8 15.2351 112.254 15.1075 112.641 14.8523C113.029 14.5971 113.329 14.2225 113.541 13.7287C113.757 13.2348 113.864 12.6283 113.864 11.9091ZM127.745 10.3828H125.568C125.528 10.1011 125.447 9.85085 125.324 9.6321C125.202 9.41004 125.044 9.22112 124.852 9.06534C124.66 8.90956 124.438 8.79025 124.186 8.70739C123.937 8.62453 123.667 8.5831 123.375 8.5831C122.848 8.5831 122.389 8.71402 121.998 8.97585C121.607 9.23437 121.304 9.61222 121.088 10.1094C120.873 10.6032 120.765 11.2031 120.765 11.9091C120.765 12.6349 120.873 13.2448 121.088 13.7386C121.307 14.2325 121.612 14.6054 122.003 14.8572C122.394 15.1091 122.847 15.2351 123.36 15.2351C123.649 15.2351 123.916 15.197 124.161 15.1207C124.409 15.0445 124.63 14.9335 124.822 14.7876C125.014 14.6385 125.173 14.4579 125.299 14.2457C125.429 14.0336 125.518 13.7917 125.568 13.5199L127.745 13.5298C127.689 13.9972 127.548 14.4479 127.323 14.8821C127.101 15.313 126.801 15.6991 126.423 16.0405C126.048 16.3786 125.601 16.647 125.081 16.8459C124.564 17.0414 123.979 17.1392 123.326 17.1392C122.417 17.1392 121.605 16.9337 120.89 16.5227C120.177 16.1117 119.613 15.5168 119.199 14.7379C118.788 13.959 118.583 13.0161 118.583 11.9091C118.583 10.7988 118.791 9.85417 119.209 9.07528C119.627 8.2964 120.193 7.70312 120.909 7.29545C121.625 6.88447 122.431 6.67898 123.326 6.67898C123.916 6.67898 124.462 6.76184 124.966 6.92756C125.473 7.09328 125.922 7.33523 126.314 7.65341C126.705 7.96828 127.023 8.3544 127.268 8.81179C127.517 9.26918 127.676 9.79285 127.745 10.3828ZM135.932 9.74645C135.893 9.34541 135.722 9.03385 135.42 8.81179C135.119 8.58972 134.709 8.47869 134.192 8.47869C133.841 8.47869 133.544 8.52841 133.302 8.62784C133.061 8.72396 132.875 8.85819 132.746 9.03054C132.62 9.20289 132.557 9.39844 132.557 9.61719C132.55 9.79948 132.588 9.95857 132.671 10.0945C132.757 10.2304 132.875 10.348 133.024 10.4474C133.173 10.5436 133.346 10.6281 133.541 10.701C133.737 10.7706 133.945 10.8303 134.168 10.88L135.082 11.0987C135.526 11.1982 135.934 11.3307 136.305 11.4964C136.677 11.6622 136.998 11.866 137.27 12.108C137.542 12.3499 137.752 12.6349 137.901 12.9631C138.054 13.2912 138.132 13.6674 138.135 14.0916C138.132 14.7147 137.972 15.255 137.658 15.7124C137.346 16.1664 136.895 16.5194 136.305 16.7713C135.719 17.0199 135.011 17.1442 134.182 17.1442C133.36 17.1442 132.645 17.0182 132.035 16.7663C131.428 16.5144 130.954 16.1416 130.613 15.6477C130.275 15.1506 130.097 14.5357 130.081 13.8033H132.164C132.187 14.1446 132.285 14.4297 132.457 14.6584C132.633 14.8838 132.867 15.0545 133.158 15.1705C133.453 15.2831 133.786 15.3395 134.158 15.3395C134.522 15.3395 134.839 15.2865 135.107 15.1804C135.379 15.0743 135.589 14.9268 135.739 14.7379C135.888 14.549 135.962 14.3319 135.962 14.0866C135.962 13.858 135.894 13.6657 135.758 13.5099C135.626 13.3542 135.43 13.2216 135.172 13.1122C134.917 13.0028 134.603 12.9034 134.232 12.8139L133.123 12.5355C132.265 12.3267 131.587 12.0002 131.09 11.5561C130.593 11.112 130.346 10.5137 130.349 9.76136C130.346 9.14489 130.51 8.6063 130.842 8.1456C131.176 7.6849 131.635 7.32528 132.219 7.06676C132.802 6.80824 133.465 6.67898 134.207 6.67898C134.963 6.67898 135.623 6.80824 136.186 7.06676C136.753 7.32528 137.194 7.6849 137.508 8.1456C137.823 8.6063 137.986 9.13991 137.996 9.74645H135.932Z"
              fill="#7E868C"></path>
            <defs>
              <linearGradient
                id="paint0_linear_1_530"
                x1="10.0703"
                y1="13.3161"
                x2="17.034"
                y2="17.7987"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#FA5757"></stop>
                <stop
                  offset="0.0652536"
                  stop-color="#FA5757"
                  stop-opacity="0.995464"></stop>
                <stop
                  offset="0.125545"
                  stop-color="#FA5757"
                  stop-opacity="0.981884"></stop>
                <stop
                  offset="0.182066"
                  stop-color="#FA5757"
                  stop-opacity="0.959297"></stop>
                <stop
                  offset="0.236008"
                  stop-color="#FA5757"
                  stop-opacity="0.927743"></stop>
                <stop
                  offset="0.288563"
                  stop-color="#FA5757"
                  stop-opacity="0.887261"></stop>
                <stop
                  offset="0.340923"
                  stop-color="#FA5757"
                  stop-opacity="0.83789"></stop>
                <stop
                  offset="0.394279"
                  stop-color="#FA5757"
                  stop-opacity="0.77967"></stop>
                <stop
                  offset="0.449823"
                  stop-color="#FA5757"
                  stop-opacity="0.712638"></stop>
                <stop
                  offset="0.508747"
                  stop-color="#FA5757"
                  stop-opacity="0.636835"></stop>
                <stop
                  offset="0.572243"
                  stop-color="#FA5757"
                  stop-opacity="0.5523"></stop>
                <stop
                  offset="0.641501"
                  stop-color="#FA5757"
                  stop-opacity="0.45907"></stop>
                <stop
                  offset="0.717714"
                  stop-color="#FA5757"
                  stop-opacity="0.357187"></stop>
                <stop
                  offset="0.802074"
                  stop-color="#FA5757"
                  stop-opacity="0.246688"></stop>
                <stop
                  offset="0.895772"
                  stop-color="#FA5757"
                  stop-opacity="0.127613"></stop>
                <stop offset="1" stop-color="#FA5757" stop-opacity="0"></stop>
              </linearGradient>
            </defs>
          </svg>
        </a>
      </div>

      <!-- Navigation -->
      <div class="flex flex-col">
        <!-- Divider -->
        <div class="flex flex-col gap-2">
          <div class="h-px w-full bg-[#e6e8eb] dark:bg-[#333]"></div>

          <!-- Home Link -->
          <div>
            <HomeButton pathname={pathname} client:load />
          </div>

          <!-- Divider -->
          <div class="h-px w-full bg-[#e6e8eb] dark:bg-[#333]"></div>
        </div>
        <!-- Docs Navigation -->
        <div>
          <DocsNav
            client:only
            docsNav={nav}
            providersNav={providersNav}
            pathName={pathname}
          >
            <div class="hidden flex-col gap-2 md:flex" slot="fallback">
              {
                nav?.[0]?.subItems?.map((navItem: any, i: any) => (
                  <>
                    {i === 0 && (
                      <p class="mt-6 border-t border-[#e6e8eb] py-6 text-xs font-bold uppercase tracking-wider text-[#11181c] dark:border-[#333] dark:text-white">
                        User Docs
                      </p>
                    )}
                    <div
                      class={`flex w-full cursor-pointer items-center justify-between gap-x-2 px-2 py-1 text-sm font-medium`}
                    >
                      <p class="flex-1 text-left text-[#687076] group-hover:text-[#ff414c] dark:text-[#888]">
                        {navItem.label}
                      </p>
                      <ChevronDownIcon className="w-4 text-[#687076]" />
                    </div>
                  </>
                ))
              }
            </div>
          </DocsNav>
        </div>

        <!-- Divider -->
        <div class="h-px w-full bg-[#e6e8eb] dark:bg-[#333]"></div>

        <!-- Support Link -->
        <div>
          <a
            href="/support/"
            class={`flex cursor-pointer items-center gap-x-2 rounded-md  my-3 text-sm font-medium leading-[20px] transition-colors  dark:hover:bg-[#333] ${
              pathname === "/support/"
                ? "text-primary dark:bg-[#3a1d1f]"
                : "text-para dark:text-[#888]"
            }`}
          >
            <span set:html={supportIcon} />
            Support
          </a>
        </div>
      </div>
    </div>
  </div>
</aside>
