---
import { subscribeLink } from "@/lib/constants";
import { ArrowUpCircle, Github, Twitter, Youtube } from "lucide-react";
import { DiscordIcon } from "../header/icons";
import ButtonLink from "../ui/button-link.astro";

const links = [
  {
    name: "Akash Github",
    href: "https://github.com/akash-network",
  },
  {
    name: "Akash on 'X'",
    href: "https://twitter.com/akashnet_",
  },
  {
    name: "Akash Discord",
    href: "https://discord.com/invite/akash",
  },
  {
    name: "Akash Youtube",
    href: "https://www.youtube.com/c/AkashNetwork",
  },
];
---

<section class="flex">
  <div
    class="flex w-full flex-1 items-center justify-center bg-[#1E1E1E] px-10 py-28"
  >
    <img
      src="/images/acc-2025/hero2.png"
      alt="Akash Accelerate 2025 Information"
      class="max-h-[361px] w-full object-contain"
    />
  </div>
  <div class="flex w-full flex-1 flex-col justify-between gap-10 p-10">
    <div class="flex flex-col gap-9">
      <h2 class="text-5xl font-semibold leading-[1.2]">
        Stay in touch about <br />
        Akash Accelerate 2025
      </h2>

      <ButtonLink
        link={subscribeLink}
        variant="primary"
        size="xl"
        className=" mr-auto  flex  gap-2  !px-6 !py-3  text-xl   tracking-wide 2xl:text-2xl"
      >
        <ArrowUpCircle className="size-6 rotate-45" />
        Subscribe Now
      </ButtonLink>
    </div>

    <div class="flex flex-col gap-5">
      <h3 class="text-2xl font-normal">Connect with Akash</h3>
      <div class="flex gap-3">
        <a
          href={links[0].href}
          class="flex items-center justify-center rounded-full bg-[#24292e] p-2 text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Github className="size-7" />
        </a>
        <a
          href={links[1].href}
          class="flex items-center justify-center rounded-full bg-[#1DA1F2] p-2 text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Twitter className="size-7" />
        </a>
        <a
          href={links[2].href}
          class="flex items-center justify-center rounded-full bg-[#5865F2] p-2 text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <DiscordIcon className="size-7" />
        </a>
        <a
          href={links[3].href}
          class="flex items-center justify-center rounded-full bg-[#FF0000] p-2 text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Youtube className="size-7" />
        </a>
      </div>
    </div>
  </div>
</section>
