---
import { speakToExpertLink } from "@/components/pricing-page/SpeakToExpert";
import TryAkashForm from "@/components/ui/try-akash-form";
import type { CollectionEntry } from "astro:content";
import { ArrowRight } from "lucide-react";

interface Props {
  heroSection: CollectionEntry<"Homepage">["data"]["heroSection"];
}

const { heroSection } = Astro.props;
---

<section class="container mb-10 md:my-10">
  <div
    class="border-b border-paraDark pb-[80px] pt-10 md:pb-[120px] md:pt-[64px]"
  >
    <h1
      class="mx-auto mt-10 text-center font-instrument text-6xl font-normal leading-[1] tracking-[-0.88px] lg:text-[94px]"
      set:html={heroSection.title}
    />

    <p
      class="mx-auto mt-4 text-center text-lg md:text-xl lg:text-2xl"
      set:html={heroSection.description}
    />

    <div class="mt-12 flex flex-col justify-center gap-4">
      <a
        href={speakToExpertLink}
        target="_blank"
        class="group mx-auto flex w-fit items-center gap-2 rounded-full border bg-gray-50 px-8 py-2 hover:bg-gray-100 dark:bg-background2 dark:hover:bg-white/10"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 18.25C15.5 18.25 19.25 16.5 19.25 12C19.25 7.5 15.5 5.75 12 5.75C8.5 5.75 4.75 7.5 4.75 12C4.75 13.0298 4.94639 13.9156 5.29123 14.6693C5.50618 15.1392 5.62675 15.6573 5.53154 16.1651L5.26934 17.5635C5.13974 18.2547 5.74527 18.8603 6.43651 18.7307L9.64388 18.1293C9.896 18.082 10.1545 18.0861 10.4078 18.1263C10.935 18.2099 11.4704 18.25 12 18.25Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M9.5 12C9.5 12.2761 9.27614 12.5 9 12.5C8.72386 12.5 8.5 12.2761 8.5 12C8.5 11.7239 8.72386 11.5 9 11.5C9.27614 11.5 9.5 11.7239 9.5 12Z"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M12.5 12C12.5 12.2761 12.2761 12.5 12 12.5C11.7239 12.5 11.5 12.2761 11.5 12C11.5 11.7239 11.7239 11.5 12 11.5C12.2761 11.5 12.5 11.7239 12.5 12Z"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M15.5 12C15.5 12.2761 15.2761 12.5 15 12.5C14.7239 12.5 14.5 12.2761 14.5 12C14.5 11.7239 14.7239 11.5 15 11.5C15.2761 11.5 15.5 11.7239 15.5 12Z"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>

        <p
          class="line-clamp-2 flex-1 text-center text-xs font-semibold text-foreground lg:text-sm"
        >
          Speak To An Expert
        </p>
        <svg
          width="24"
          height="24"
          class="hidden group-hover:block"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.25 15.25V6.75H8.75"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M17 7L6.75 17.25"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <div class="flex justify-center">
        <TryAkashForm client:load type="hero" />
      </div>
      <div
        class="mt-8 flex flex-col items-center justify-center gap-5 md:flex-row md:gap-6"
      >
        <a
          href="/providers"
          class="flex items-center gap-1.5 font-medium text-foreground transition-all hover:text-primary"
        >
          Become a GPU provider <ArrowRight className="size-4" />
        </a>
        <div class="hidden h-6 w-px bg-defaultBorder md:block"></div>
        <a
          href="/pricing/gpus"
          class="flex items-center gap-1.5 font-medium text-foreground transition-all hover:text-primary"
        >
          See GPU Availability
          <ArrowRight className="size-4" />
        </a>
      </div>
    </div>

    <!-- <div
      class="mx-auto mt-20 grid w-fit gap-6 sm:grid-cols-2 md:mt-24 lg:grid-cols-3"
    >
      {
        heroSection.cards.map((card) => (
          <div class="flex flex-col gap-2 rounded-lg border bg-background2 p-6 md:rounded-xl">
            <h3 class="font-semibold">{card.title}</h3>
            <p class="text-sm">{card.description}</p>
            <div class="mt-auto flex flex-wrap gap-2 pt-2">
              {card.buttons.map((button) => (
                <Button
                  aria-label={button.label}
                  link={button.link}
                  variant={button.type}
                  size="lg"
                >
                  {button.label}
                </Button>
              ))}
            </div>
          </div>
        ))
      }
    </div> -->
  </div>
</section>
