---
import type { CollectionEntry } from "astro:content";
import { ArrowRight, Sparkles } from "lucide-react";

interface Props {
  heroSection: CollectionEntry<"Homepage">["data"]["heroSection"];
}

const { heroSection } = Astro.props;
---

<section class="container mb-10 md:my-10">
  <div
    class="border-b border-paraDark pb-[80px] pt-10 md:pb-[120px] md:pt-[64px]"
  >
    <h1
      class="mx-auto mt-10 text-center font-instrument text-6xl font-normal leading-[1] tracking-[-0.88px] lg:text-[88px]"
      set:html={heroSection.title}
    />

    <p
      class="mx-auto mt-4 text-center text-base md:text-xl"
      set:html={heroSection.description}
    />

    <div class="mt-10 flex flex-col justify-center gap-4">
      <a
        href="/pricing/gpus"
        class="mx-auto flex w-fit items-center rounded-full border bg-gray-50 px-5 py-1.5 dark:bg-background2 md:gap-2 md:py-2.5"
      >
        <Sparkles className="size-4 " />
        <p
          class="line-clamp-2 flex-1 text-center text-xs font-semibold text-foreground"
        >
          $500 Free Credit To Access GPUs
        </p>
      </a>
      <a
        href="https://share.hsforms.com/29tSLilX9Qye5Rxrlsz7WPwsaima"
        target="_blank"
        class="mx-auto rounded bg-primary px-14 py-3 font-semibold text-white transition-all hover:bg-primary/90"
      >
        Access The Marketplace
      </a>
      <div class="mt-4 flex items-center justify-center gap-3">
        <a
          href="/providers"
          class="flex items-center gap-1 text-sm font-medium text-foreground transition-all hover:text-primary"
        >
          Become a GPU provider <ArrowRight className="size-4" />
        </a>
        <div class="h-6 w-px bg-defaultBorder"></div>
        <a
          href="/pricing/gpus"
          class="flex items-center gap-1 text-sm font-medium text-foreground transition-all hover:text-primary"
        >
          See GPU Availability
          <ArrowRight className="size-4" />
        </a>
      </div>
    </div>

    <!-- <div
      class="mx-auto mt-20 grid w-fit gap-6 sm:grid-cols-2 md:mt-24 lg:grid-cols-3"
    >
      {
        heroSection.cards.map((card) => (
          <div class="flex flex-col gap-2 rounded-lg border bg-background2 p-6 md:rounded-xl">
            <h3 class="font-semibold">{card.title}</h3>
            <p class="text-sm">{card.description}</p>
            <div class="mt-auto flex flex-wrap gap-2 pt-2">
              {card.buttons.map((button) => (
                <Button
                  aria-label={button.label}
                  link={button.link}
                  variant={button.type}
                  size="lg"
                >
                  {button.label}
                </Button>
              ))}
            </div>
          </div>
        ))
      }
    </div> -->
  </div>
</section>
