---
import EcosystemSection from "@/components/token-page/ecosystem-section.astro";
import HeroSection from "@/components/token-page/hero-section.astro";
import HowItWorksSection from "@/components/token-page/how-it-works-section.astro";
import Layout from "@/layouts/layout.astro";

import BuyAkt from "@/components/token-page/buy-akt.astro";
import BuyingAkt from "@/components/token-page/buying-akt-section";
import { FaqsToken } from "@/components/token-page/faq-section";
import Sections from "@/components/token-page/sections";
import TopMargin from "@/components/ui/top-margin.astro";
import { getEntry } from "astro:content";

const tokenPage = await getEntry("Token_Homepage", "index");

const {
  heroSection,

  faqsSection,
  ecosystemSection,
  buyingAKTSection,
  aktFeaturesSection,
} = tokenPage.data;

const url = Astro.site;
---

<Layout
  title="Akash Token (AKT) - The Currency of Decentralized Cloud"
  description={heroSection?.description}
  image="/meta-images/token.png"
>
  <TopMargin readable>
    <div class="flex flex-col gap-10 md:gap-y-20">
      <HeroSection heroSection={heroSection} />
      <div class="border-b"></div>
      <BuyAkt />
      <div class="mx-auto flex-1 lg:max-w-[575px]">
        <img alt="Feature illustration" src={"/images/token/hero.webp"} />
      </div>
      <div class="border-b"></div>
      <Sections
        client:only
        aktFeaturesSection={aktFeaturesSection}
        buyingAKTSection={buyingAKTSection}
        faqsSection={faqsSection}
        url={url?.toString() ?? ""}
      />
      <div class="border-b"></div>
      <HowItWorksSection />

      <div class="border-b"></div>
      <EcosystemSection ecosystemSection={ecosystemSection} />
      <div class="border-b"></div>
      <BuyingAkt buyingAKTSection={buyingAKTSection} />
      <div class="border-b"></div>
      <FaqsToken client:only />
    </div>
  </TopMargin>
</Layout>
